@import '02_atoms/tag';

.tags
{
    width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;

    &__tag
    {
        margin: 0.4rem;
    }

    & .active
    {
        background: $color1;
        color: $color2;
        box-shadow: 0.1rem 0.1rem 0.2rem $color3;
    }
}

@media (max-width: 1100px)
{
    .tags
    {
        width: 75%;
    }
}