@import '01_fundaments/variables';

h2{
    font-family: 'IMPACT', sans-serif;
    font-size: 52px;
    letter-spacing: 0.15rem;
}

h3{
    font-family: 'arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

h4{
    font-family: 'arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

p{
    font-family: 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button{
    font-family: 'arial', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

li{
    font-family: 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button{
    font-family: 'arial', sans-serif;
    font-size: 16px;
    font-weight: 600;

    text-transform: capitalize;
    letter-spacing: 0.12rem;
}

a{
    font-family: 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;

    text-transform: capitalize;
    letter-spacing: 0.12rem;
}