$color1: #18183d;
$color2: white;
$color3: #f4f2ff;
$color4: #0a0a25;
$color5: #8d8d8d;

$color4: #0a0a25;
$color1: #1d1d46;
$color2: white;
$color3: #f9f9f9;

$animation1: 0.65s .2s both;


$color5: #8d8d8d;

$background: #e6ebf0;

$tabletWidth: 768px;
$desktopWidth: 1100px;
$maxWidth: 1400px;